//Pink //rgba(240, 97, 89, 1)
//Blue // rgba(89, 240, 214, 1)
//Light gray // rgba(96, 96, 96, 1)
//Gray // rgba(45, 45, 45, 1)

::-webkit-scrollbar {
  display: none;
}

body,html{
  width: 280px;
  height: 440px;
  background-color:whitesmoke;
  overflow:scroll;
}

#main{
  padding:0;
  margin:0;
  padding-top:10px;
  padding-bottom:50px;
}

.mui-tabs-container {
  .mui-ink-bar{
    position:fixed;
    bottom:48px;
    transition: all 0s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  .mui-tab-item-container {
    background-color: white;
    position:fixed;
    bottom:0;
    z-index:2;
    .mui-tab-item{
      -webkit-transition: background-color .25s ease-in-out;
      background-color:rgba(96, 96, 96, 1);
      &.mui-tab-is-active{
        -webkit-transition: background-color .25s ease-in-out;
        background-color:rgba(240, 97, 89, 1);
      }

      .mui-icon{
        margin-top:9px;
        font-size:30px;
      }
    }
  }
}

.action-tabs {
  .mui-paper{
    background-color:white;
    margin-bottom:14px;
    .mui-paper-container{
      box-sizing:border-box;
      padding:6px 10px;

      .group-toggle{
        margin-bottom:4px;
        h2{
          margin-bottom:0;
        }
        .toggle-icon span{
          font-size: 28px;
          padding-left: 11px;
          padding-top: 18px;
        }
      }

      span.muted{
        color:gray;
      }

      h3.action-icon{
        padding-top:0;
        margin-bottom:0;
        padding:6px 0px;
        &:first-child{
          padding-top:8px;
        }
      }
    }

  }
  .profileItem{
    h4{
      padding-top:4px;
    }
    .mui-raised-button{
      padding:0;
      .mui-paper-container{
        padding:0;
      }
    }
    .join-btn{
      .mui-raised-button-label{
        top:4px;
      }
    }
  }
}

.graffiti-hide{
  display:none;
}