//Pink //rgba(240, 97, 89, 1)
//Blue // rgba(89, 240, 214, 1)
//Light gray // rgba(96, 96, 96, 1)
//Gray // rgba(45, 45, 45, 1)

body,html{
  width: 100%;
  overflow-x:hidden;
}

#graffiti-scrollbar-binder {
  z-index:999999999997;
  position:fixed;
  top:0;
  bottom:0;
  height: 100%;
  z-index:2;
  width:36px;
  right:0;
}

#graffiti-app, .graffiti-app,.graffiti-fonted {
  font-family:Roboto, Helvetica Neue, sans-serif;
  *{
    font-family:Roboto, Helvetica Neue, sans-serif;
  }
  position:absolute;
  z-index: 999999999998;
  overflow: visible;
  position: relative;
  left:100%;

  ul,ol,li{
    list-style-type: none;
    padding:0;
    margin:0;
  }


  .freshSprayContainer{
    margin-top:-60px;
    .mui-paper-container{
      padding-right: 20px !important;
      padding-left: 6px !important;
      .group-toggle{
        cursor:pointer;
        padding-top: 4px;
        .mui-icon{
          top: 4px;
          margin-right: 4px;
        }
        h4{
          .mui-icon{
            top: 4px;
            margin-right: 4px;
          }
          font-size:18px;
          padding-top:9px;
        }
        span.group-toggle-label{
          font-size:21px;
        }
      }
    }
  }

  .graffiti-comments-container,.freshSprayContainer {
    border-left: 6px solid rgb(89, 240, 214);
    box-sizing:border-box;
    position:absolute !important;
    width: 320px;
    overflow: hidden;
    z-index:999999999999;
    background-color:rgb(255,255,255);
    -webkit-transition: -webkit-transform .45s ease-in-out;
    -webkit-transform:translateX(0px);
    margin: 6px 0px;

    &.graffiti-show{
      -webkit-transition: -webkit-transform .45s ease-in-out;
      -webkit-transform:translateX(-320px);
    }

    form{
      margin-bottom:12px;
      .mui-raised-button{
        width:100%;
        .mui-paper-container.mui-z-depth-bottom{
          padding:0;
        }
      }
    }

    .mui-paper-container{
      padding:0;
      .mui-tabs-container{
        .mui-tab-item-container{
          border-bottom:1px solid rgba(89, 240, 214, .8);
          height:28px;
          background-color:white;
          .mui-tab-item{
            line-height:2;
            font-size:13px;
            &.mui-tab-is-active{
              color:red;
            }
          }
        }
        .mui-ink-bar{
          background-color:rgba(89, 240, 214, 1);
        }
      }
      div{
        .action-tabs{

          form{
            padding-right:20px;
            padding-left:6px;
          }
          ul{
            padding: 4px 20px 4px 4px;
          }

          &.graffiti-hide{
            display:none;
          }
        }
      }
    }

    .mui-enhanced-button{
      font-family:Roboto, Helvetica Neue, sans-serif;
      span.mui-raised-button-label{
        font-family:Roboto, Helvetica Neue, sans-serif;
      }
    }

    .mui-text-field{
      width:100%;
      font-family:Roboto, Helvetica Neue, sans-serif;
      .mui-text-field-hint{
        font-size:12px;
        font-family:Roboto, Helvetica Neue, sans-serif;
      }
      .mui-text-field-input{
        width:100%;
        font-family:Roboto, Helvetica Neue, sans-serif;
      }
      .mui-text-field-textarea{
        box-shadow:none;
        font-family:Roboto, Helvetica Neue, sans-serif;
      }
    }

    .mui-text-field-hint{
      opacity:0.3;
    }
    .mui-text-field .mui-text-field-focus-underline {
      border-color:rgb(255, 64, 129);
    }
    .mui-is-primary{
      border: 1px solid rgb(224, 224,224);
      left: 50%;
      margin-left: -44px;
    }
    .mui-is-primary.freshSpraySubmit{
      margin-left: -82.5px;
    }
    .SprayComment{
      padding: 12px 12px 12px 6px;
      border-top: solid 1px #efefef;
      margin-bottom: 16px;
      box-sizing:border-box;
      &:last-child{
        margin-bottom:0px;
      }
      p,b span,span{
        font-family:Roboto, sans-serif;
        margin-bottom:0;
      }
      b{
        font-size:14px;
      }
      span.muted{
        font-size:12px;
      }
    }
  }

  .mui-snackbar.graffiti-snack,{
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    background-color:rgba(89, 240, 214, 1);
    *{
      color:white !important;
    }
    .mui-snackbar-message {

    }
    .mui-snackbar-action{
      .mui-flat-button-label{

      }
    }

  }

}

.spray-tab{
  border-radius:2px 0px 0px 2px;
  z-index: 999999999998;
  overflow: visible;
  position: absolute;
  left:100%;
  padding:12px 6px 12px 2px;
  margin-top:-6px;
  margin-left:-12px;

  -webkit-transform:translateX(6px);
  -webkit-transition:all .25s ease-in-out;
  .comment-count{
    font-family:Roboto, sans-serif;
    color:white;
    opacity:0;
    -webkit-transition:opacity .25s ease-in-out, color .25s ease-in-out;
  }
  &.graffiti-expanded{
    -webkit-transition:all .25s ease-in-out;
    -webkit-transform:translateX(0px);
    .comment-count{
      opacity:1;
      -webkit-transition:opacity .25s ease-in-out
    }
    &.graffiti-focus {
      -webkit-transition: all .25s ease-in;
      background-color: rgba(89, 240, 214, 1) !important;
      span.comment-count{
        color:black !important;
      }
    }
  }
}

#graffiti-spray {
  background-color:rgb(89, 240, 214);
}
.graffiti-spray {
  cursor: pointer;
  -webkit-transition: all .25s ease-in;
  &.graffiti-highlight {
    -webkit-transition: all .25s ease-in;
    background-color:rgb(208, 208, 208);
    color:black;
    &.graffiti-focus{
      background-color:rgb(89, 240, 214);
    }
  }
}

#spray-button {
  position:fixed;
  z-index:99999999999;
}

#graffiti-dash {
  .mui-paper{
    background-color:white;
    .mui-paper-container{
      .user-organizations{
        box-sizing: border-box;
        padding: 20px;
      }
    }
  }
  .addOrganization{
    .mui-paper-container{
      box-sizing: border-box;
      padding: 20px;
    }
  }
  .mui-tabs-container{
    .mui-tab-item-container{
      background-color:rgba(96, 96, 96, 1);
    }
    .mui-ink-bar{
      background-color:rgba(89, 240, 214, 1);
    }
    .mui-tab-template{
      box-sizing:border-box;
      padding:20px 40px;
    }
  }

  .graffiti-hide{
       display:none;
     }
  .addOrganization {
    margin-top:40px;
  }
}
