//Pink //rgba(240, 97, 89, 1)
//Blue // rgba(89, 240, 214, 1)
//Light gray // rgba(96, 96, 96, 1)
//Gray // rgba(45, 45, 45, 1)

body,html{
  width: 100%;
  overflow-x:hidden;
}

#graffiti-scrollbar-binder {
  position:fixed;
  top:0;
  bottom:0;
  height: 100%;
  z-index:2;
  width:26px;
  right:0;
}

#graffiti-app, .graffiti-app {
  position:absolute;
  z-index: 999999999998;
  overflow: visible;
  position: relative;
  left:100%;

  ul,ol,li{
    list-style-type: none;
    padding:0;
    margin:0;
  }

  .freshSprayContainer{
    margin-top:-60px;
  }

  .graffiti-comments-container,.freshSprayContainer {
    border-left: 6px solid rgb(89, 240, 214);
    box-sizing:border-box;
    position:absolute !important;
    width: 260px;
    overflow: hidden;
    z-index:999999999999;
    background-color:rgb(255,255,255);
    -webkit-transition: -webkit-transform .45s ease-in-out;
    -webkit-transform:translateX(0px);
    margin: 6px 0px;

    &.graffiti-show{
      -webkit-transition: -webkit-transform .45s ease-in-out;
      -webkit-transform:translateX(-260px);
    }

    .mui-paper-container{
      padding: 20px 12px 10px 12px;
    }
    .mui-text-field-hint{
      opacity:0.3;
    }
    .mui-text-field .mui-text-field-focus-underline {
      border-color:rgb(255, 64, 129);
    }
    .mui-is-primary{
      border: 1px solid rgb(224, 224,224);
      left: 50%;
      margin-left: -44px;
    }
    .mui-is-primary.freshSpraySubmit{
      margin-left: -82.5px;
    }
    .SprayComment{
      border-bottom: solid 1px #e0e0e0;
      margin-bottom: 10px;
    }
  }

}

.spray-tab{
  border-radius:2px 0px 0px 2px;
  z-index: 9999999;
  overflow: visible;
  position: relative;
  left:100%;
  height: 36px;
  margin-top:-6px;
  width:12px;
  margin-left:-12px;

  -webkit-transform:translateX(6px);
  -webkit-transition:all .25s ease-in-out;
  .comment-count{
    padding-top:6px;
    color:white;
    opacity:0;
    -webkit-transition:opacity .25s ease-in-out
  }
  &.graffiti-expanded{
    -webkit-transition:all .25s ease-in-out;
    -webkit-transform:translateX(0px);
    .comment-count{
      opacity:1;
      -webkit-transition:opacity .25s ease-in-out
    }
    &.graffiti-focus {
      -webkit-transition: all .25s ease-in;
      background-color: rgba(89, 240, 214, 1) !important;
      color: black;
    }
  }
}

#graffiti-spray {
  color: black;
  background-color: #b6b6b6;
}
.graffiti-spray {
  cursor: pointer;
  -webkit-transition: all .25s ease-in;
  padding: 2px 4px;
  &.graffiti-highlight {
    -webkit-transition: all .25s ease-in;
    background-color:#b6b6b6;
    color:white;
    &.graffiti-focus{
      background-color:rgb(89, 240, 214);
    }
  }
}

#spray-button {
  position:fixed;
  z-index:99999999999;
}

#graffiti-dash {
  .mui-paper{
    background-color:white;
    .mui-paper-container{
      .user-organizations{
        box-sizing: border-box;
        padding: 20px;
      }
    }
  }
  .addOrganization{
    .mui-paper-container{
      box-sizing: border-box;
      padding: 20px;
    }
  }
  .mui-tabs-container{
    .mui-tab-item-container{
      background-color:rgba(96, 96, 96, 1);
    }
    .mui-ink-bar{
      background-color:rgba(89, 240, 214, 1);
    }
    .mui-tab-template{
      box-sizing:border-box;
      padding:20px 40px;
    }
  }

  .graffiti-hide{
    display:none;
  }
  .addOrganization {
    margin-top:40px;
  }
}
